/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

p, b, h1 {
  line-height: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

.container header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.container header .barra-pesquisa {
  display: flex;
  align-items: center;
  width: 400px;
  height: fit-content;
  border: 1px solid #efeff0;
  padding: 5px 10px;
  gap: 10px;
  border-radius: 3px;
}

.container header .barra-pesquisa input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

.container header .barra-pesquisa i {
  font-size: 12px;
  color: #a272f6;
}

.container header .atalhos img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.container header .atalhos {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #a272f6;
}

.container header .atalhos i {
  font-size: 20px;
}

.container .principal {
  display: flex;
  background-color: #f9fafb;
  width: 100%;
  height: 100%;
}

.container .principal aside {
  background-color: white;
  width: 20%;
  height: 100%;
}

.container .principal aside nav ul {
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .principal aside nav ul li a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  color: gray;
}

.container .principal aside nav ul li a .esquerda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.container .principal aside nav ul li a .ultimo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#ativo {
  border-left: 5px solid #7e3af2;
  color: black;
}

.container .principal aside button {
  background-color: #7e3af2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.container .principal main {
  width: 80%;
  height: 100%;
  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .principal main h1 {
  font-size: 24px;
  line-height: 0;
}

.container .principal main .card-info {
  background-color: #7e3af2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;
}

.container .principal main .card-info a {
  color: white;
}

.container .principal main .card-info .esquerda {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .principal main .cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.container .principal main .cards .card {
  background-color: white;
  border: 1px solid #e3e5e6;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.container .principal main .cards .card .icone {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container .principal main .cards .card .icon1 {
  background-color: #feecdc;
  color: #fd652f;
}

.container .principal main .cards .card .icon2 {
  background-color: #def7ec;
  color: #0e9f6e;
}

.container .principal main .cards .card .icon3 {
  background-color: #e1effe;
  color: #3f83f8;
}

.container .principal main .cards .card .icon4 {
  background-color: #d5f5f6;
  color: #0694a2;
}

.container .principal main table {
    border: 1px solid #e3e5e6;
    border-spacing: 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.container .principal main table thead tr th {
    text-align: left;
    background-color: #f0f0f0;
    color: gray;
    padding: 10px;
    border-bottom: 1px solid #e3e5e6;
}

.container .principal main table tbody tr {
    background-color: white;
}

.container .principal main table tbody tr td .cliente-info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.container .principal main table tbody tr td .cliente-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container .principal main table tbody tr td .cliente-info .info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.container .principal main table tbody tr td .cliente-info .info p {
    line-height: 0;
    font-size: 10px;
    color: gray;
}

.container .principal main table tbody tr td .status {
    width: fit-content;
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
}

#pago {
    background-color: #def8ed;
    color: #469e7e;
}

#pendente {
    background-color: #f8f0de;
    color: #9e8b46;
}

#cancelado {
    background-color: #f8dede;
    color: #9e4546;
}
