body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: 100vh;
}

.container .navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container .navigation .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .navigation .links {
    display: flex;
    align-items: center;
    gap: 60px;
}

.container .navigation .links nav ul {
    display: flex;
    gap: 30px;
}

.container .navigation .hidden-links i {
    font-size: 30px;
}

.container .navigation .logo img {
    width: 80px;
}

.container .navigation .links button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 40px;
}

.container .navigation .links button i {
    font-size: 20px;
}

.container main  {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}

.container main .left {
    width: 50%;
    height: 100%;
}

.container main .left img {
    width: 100%;
    height: 100%;
}

.container main .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container main .right .section-1 span {
    background-color: #407bff; 
    color: #fff;
    padding: 10px 5px; 
    border-radius: 50px;
}

.container main .right .section-2 .buttons { 
    display: flex;
    gap: 10px;
}

.container main .right .section-2 .buttons .button { 
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.container main .right .section-2 .buttons .primary {
    border: 1px solid transparent;
    background-color: #407bff;
    transition: all 500ms ease;
}

.container main .right .section-2 .buttons .primary a {
    color: #fff;
}

.container main .right .section-2 .buttons .primary:hover {
    background-color: #345494;
}

.container main .right .section-2 .buttons .secondary {
    border: 1px solid transparent;
    background-color: transparent;
    transition: all 500ms ease;
}

.container main .right .section-2 .buttons .secondary a {
    color: #407bff;
}

.container main .right .section-2 .buttons .secondary:hover {
    border: 1px solid #407bff;
}

.container footer {
    display: flex;
}

.container footer .left {
    width: 50%;
}

.container footer .right {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-right: 20px;
}

.container footer .right .social {
    display: flex;
    gap: 10px;
}

.container footer .right .social i {
    font-size: 30px;
}

#menu {
    display: none;
}

@media (max-width: 1024px) {

    .container main {
        flex-direction: column;
    }

    nav, #search {
        display: none;
    }

    .container .navigation .links {
        border: 0px solid red;
    }

    #menu {
        display: block;
    }

    #menu i {
        font-size: 30px;
    }

    .container main .left, .container main .right {
        width: 100%;
    }

    .container main .left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container main .left img {
        max-width: 80%;
    }

    .container main .right .sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .container footer .left {
        display: none;
    }

    footer {
        display: flex;
        justify-items: center;
        padding: 20px;
    }
    
   .container footer .right {
        flex-direction: column;
        align-items: center;
    }
 
}